apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: llm-observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ishavishwakarma/llm-backend:v4


          ports:
            - containerPort: 8000
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: llm-secret
                  key: POSTGRES_PASSWORD
            - name: DATABASE_URL
              value: "postgresql+psycopg2://postgres:$(POSTGRES_PASSWORD)@postgres:5432/llm"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: llm-observability
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
