apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: llm-observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ishavishwakarma/llm-frontend:v2

          ports:
            - containerPort: 8501
          env:
            - name: BACKEND_URL
              value: "http://backend:8000"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: llm-observability
spec:
  selector:
    app: frontend
  ports:
    - port: 8501
      targetPort: 8501
  type: LoadBalancer
